*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;

    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    
    h1{
        margin-bottom: 10px;
        color: #333;
    }
}

section{
    margin-bottom: 2em;
    padding: 1em 1em;
}

header{
    height: 7vh;
    background-color: #999999;
    padding: 0.5em;

    img{
        background-color: whitesmoke;
        border-radius: 0.5em;
        padding: 0.2em;
        height: 100%;
    }
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    color: white;
    background-color: dimgray;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    padding: 2vw 2vw;
    /* width: 150px; */
    max-width: 40vw;
    aspect-ratio: 16 / 9;
    text-align: start;

    p{
        font-size: 1.5em;
        font-weight: 600;
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }

    li{
        margin: 10px 0;
        list-style-type:none;
    }
}

.sensor-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sensor-data p {
    font-size: 1.5rem;
    margin: 10px 0;
}

#temperature, #humidity {
    font-weight: bold;
    color: #333;
}