body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#espList {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#espList li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sensor-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sensor-data p {
    font-size: 1.5rem;
    margin: 10px 0;
}

#temperature, #humidity {
    font-weight: bold;
    color: #333;
}