<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
</head>
<body>
    <h1>Listado de ESP Conectados</h1>
    <ul id="espList">
    </ul>

    <main class="container">
        <div class="card">
            <p id="esp-id">Dummy esp</p>
            <ul>
                <li><strong>IP:</strong> <span id="esp-ip">192.168.1.148</span></li>
                <li><strong>MAC:</strong> <span id="esp-actuator">00:00:00:00:00:01</span></li>
                <li><strong>Status:</strong> <span id="esp-status">Connected</span></li>
            </ul>
        </div>
    </main>
</body>
</html>