<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %} x {% endblock %}</title>
    <!-- Incluir CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/home-ico.ico') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    {% block headers %} x {% endblock %}
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='imgs/home-logo.png') }}" alt="logo">
        <nav>
            {% block nav_content %} x {% endblock %}
        </nav>
    </header>

    {% block main_content %} x {% endblock %}

</body>
</html>
