<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP Details</title>
    <!-- Incluir CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='home-ico.ico') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='home-logo.png') }}" alt="logo">
        <nav>
            <ul>
                <li id="btnHome">Home</li>
            </ul>
        </nav>
    </header>
    
    <section class="cards">
        <h1 class="section-title">Datos ESP (estaticos)</h1>
        <main class="cards-container">

        </main>
    </section>

    <section class="eventos">
        <h1 class="section-title">Eventos ESP</h1>
        <main class="eventos-container"></main>
    </section>

    <section class="stats">
        <h1 class="section-title">Estadisticas ESP</h1>
        <main class="chart-container">
            <canvas id="historicoChart" width="400" height="200"></canvas>
        </main>
    </section>
    
    <script src="{{ url_for('static', filename='details.js') }}"></script>
</body>
</html>
