{% extends "base.html" %}

{% block tittle %} ESP Details {% endblock %}

{% block headers %} 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{{ url_for('static', filename='js/details.js') }}"></script>
{% endblock %}

{% block nav_content %}
            <ul>
                <li id="btnHome">Home</li>
            </ul>
{% endblock %}

{% block main_content %}
    <section class="cards">
        <h1 class="section-title">Datos ESP (estaticos)</h1>
        <main class="cards-container">

        </main>
    </section>

    <section class="eventos">
        <h1 class="section-title">Eventos ESP</h1>
        <dialog data-del-modal class="add-event">

            <div class="form-container">
                <h2>Asignar Evento al ESP</h2>
                <form method="dialog" id="event-form">
                    <div class="form-group">
                        <label for="esp-id-select">Seleccionar ESP</label>
                        <select id="esp-id-select">
                            <!-- Aquí se llenarán dinámicamente los ESP desde el backend -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="event-alias">Alias del Evento</label>
                        <input type="text" id="event-alias">
                    </div>
                    <div class="form-group">
                        <label for="event-action">Tipo de Accion</label>
                        <select id="event-action">
                            <!-- Aquí se llenarán dinámicamente las opciones -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="event-type">Tipo de Evento</label>
                        <select id="event-type">
                            <option value="horario">Horario Específico</option>
                            <option value="fecha">Fecha Específica</option>
                            <option value="intervalo">Intervalo de Tiempo</option>
                        </select>
                    </div>
                    <div class="options">
                        <div class="form-group">
                            <label for="time">Hora (hh:mm)</label>
                            <input type="time" id="time">
                        </div>
                    </div>
                    <button confirm-del-btn type="submit" class="confirm">Confirm</button>
                    <button data-close-del-modal class="close-del-modal">Cancel</button>
                </form>
            </div>
            
        </dialog>
        <dialog data-modal class="delete-confirm">
            <p>¿Desea eliminar el evento?</p>
            <button confirm-btn class="confirm">Confirm</button>
            <button data-close-modal class="close-modal">Cancel</button>
        </dialog>
        <main class="eventos-container">
            <div class="add-event-btn" id="add-event-btn">
                <span>+</span>añadir Evento
            </div>
        </main>
    </section>

    <section class="stats">
        <h1 class="section-title">Estadisticas ESP</h1>
        <main class="chart-container">
            <canvas id="historicoChart" width="400" height="200"></canvas>
        </main>
    </section>
{% endblock %}