<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Flask</title>
    <!-- Incluir CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Listado de ESP Conectados</h1>
    <ul id="espList">
        <!-- Aquí se cargará el listado de ESP -->
    </ul>

    <div class="sensor-container">
        <h1>Datos del Sensor</h1>
        <div class="sensor-data">
            <p>Temperatura: <span id="temperature">Cargando...</span></p>
            <p>Humedad: <span id="humidity">Cargando...</span></p>
        </div>
    </div>

    <h1>Control de Botón ON-OFF</h1>
    <button id="toggleButton" onclick="toggleButtonState()">OFF</button>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
