{% extends "base.html" %}

{% block tittle %} Mi Proyecto Flask {% endblock %}

{% block headers %} <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>{% endblock %}

{% block nav_content %}
            <ul>
                <li id="btnHome">Home</li>
                <li id="btnDevices">Devices</li>
                <li id="btnRooms">Room Monitoring</li>
                <li id="btnLights">Lighting</li>
                <li id=""><a href="/events">Events</a></li>
            </ul>
{% endblock %}

{% block main_content %}
    <section class="esp-list" id="esp-list-sct">
        <dialog data-modal class="delete-confirm">
            <p>¿Desea eliminar el dispositivo?</p>
            <button confirm-btn class="confirm">Confirm</button>
            <button data-close-modal class="close-modal">Cancel</button>
        </dialog>
        <h1 class="section-title">Listado de ESP Conectados</h1>
        <main class="esp-cards-container" id="esp-cards-container">
            <!-- Aqui el js cargara dinamicamente las tarjetas de los ESP -->
        </main>
    </section>
    
    <section class="sensor-list" id="sensor-container-sct">
        <h1 class="section-title">Datos del Sensor</h1>
        <main class="sensor-cards-container">
            <!-- Aqui el js cargara dinamicamente las tarjetas de los ESP sensores-->
        </main>
    </section>

    <section class="actuator-list" id="ON-OFF_button-cont">
        <h1 class="section-title">Control de Botón ON-OFF</h1>
        <main class="actuator-cards-container">
            <!-- Aqui el js cargara dinamicamente las tarjetas de los ESP sensores-->
        </main>
    </section>
{% endblock %}