@import url('animations.css');

:root{
    --primary-color: #2f2a48;
}

/* ########## Generics ########## */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;

    height: 100vh;
}

section{
    margin: 1em 1em;
    padding: 1em;
}

.section-title{
    font-size: 24px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

h4{
    margin-bottom: 0.5rem;
}

/* ########## Header ########## */
header{
    height: 7vh;
    min-height: 50px;
    background-color: #e0e0e0;
    padding: 0.5em;

    display: flex;

    img{
        background-color: whitesmoke;
        border-radius: 0.5em;
        padding: 0.2em;
        height: 100%;
        margin-right: 1em;
    }

    nav{
        height: 100%;
        width: 100%;

        ul{
            height: 100%;
            display: flex;
            align-items: center;

            li{
                text-decoration: none;
                list-style-type: none;
                background-color: whitesmoke;
                padding: 0.5em;
                margin: 0em 0.25em;
                border-radius: 1em;
                cursor: pointer;
            }

            .selected{
                background-color: var(--primary-color);
                color: white;
                font-weight: 600;
            }

            li:hover{
                font-weight: 600;
                border: 2px solid var(--primary-color);
            }
        }
    }
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* ########## Sections ########## */
.esp-list{

    .esp-cards-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .delete-confirm{
        width: 18em;
        height: 4.5em;
        border: none;
        border-radius: 0.75em;
        padding: 0.5em;
        position: absolute;
        translate: calc(50vw - 9em) calc(50vh - 2.25em);
        /* display: none; */
        /* flex-direction: column; */
        /* justify-content: center; */

        p{
            margin-bottom: 0.3em;
        }

        &::backdrop{
            background-color: #222E;
        }

        button{
            padding: 0.35rem;
            border: none;
            border-radius: 0.25rem;
            background-color: #DDD;

            transition: 0.1s;

            &:hover{
                font-weight: 800;
            }
        }

        .confirm{
            color: white;
            background-color: red;
        }
    }
}

.esp-card{
    color: white;
    background-color: dimgray;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
    padding: 2vw 2vw;
    /* width: 150px; */
    /* max-width: 40vw; */
    aspect-ratio: 16 / 9;
    text-align: start;
    position: relative;

    p{
        font-size: 1.5em;
        font-weight: 600;
        border-bottom: 2px solid white;
        padding-bottom: 5px;

        #name{

            &:hover{
                color: lime;
                cursor: pointer;
            }
        }

        .estado {
            margin-right: 30px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            top: -10px;
            left: 8px;
            /* box-shadow: 0px 0px 10px 2px navy; */
            
            animation-timing-function: ease-in;
            animation-duration: .75s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        .open-modal{
            display: flex;
            justify-content: center;
            
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
    
            background-color: gray;
            border-radius: 50%;
            height: 1rem;
            width: 1rem;
            font-size: 0.75rem;
            
            transition: 0.3s;
            
            &:hover{
                background-color: red;
                top: 0.5rem;
                right: 0.5rem;
                height: 1.5rem;
                width: 1.5rem;
                font-size: 1.25rem;
            }
        }
    }

    li{
        margin: 10px 0;
        list-style-type:none;
    }

    /* Círculo verde o rojo como superíndice */
    .base{
        background-color: navy;
        animation-name: latidoAzul;
    }

    .conectado {
        background-color: lime;
        animation-name: latidoVerde;
    }

    .verificando {
        background-color: yellow;
        animation-name: latidoAmarillo;
    }

    .desconectado {
        background-color: red;
        animation-name: latidoRojo;
    }
}

.sensor-list{
    .sensor-cards-container{
        display: flex;
        gap: 0.5em;
    }
}

.sensor-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    p {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    #temperature, #humidity {
        font-weight: bold;
        color: #333;
    }
}

.actuator-list{
    .actuator-cards-container{
        display: flex;
        gap: 0.5em;
        .actuator-card {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            /* width: 400px; */

            button {
                width: 4rem;
                background-color: #333;
                color: #ffffff;
                padding-block: 10px;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.25s ease;

                /* &:hover {
                    background-color: #CCC;
                    border: 2px solid #555;
                    color: #555;
                } */

            }

            .statusOFF{
                background-color: red;
            }
            .statusON{
                background-color: green;
            }
        }
    }
}

.eventos-container{

    flex-direction: row-reverse;

    .add-event-btn{
        max-width: 33%;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
}

.add-event{
    width: 20em;
    /* height: 30em; */
    max-height: 80vh;
    border: none;
    border-radius: 0.75em;
    padding: 0.5em;
    position: absolute;
    translate: calc(50vw - 10em) calc(50vh - 15em);

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        margin-bottom: 10px;

        #event-form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    input, select {
        width: 100%;
        padding: 8px;
    }

    &::backdrop{
        background-color: #222E;
    }

    button{
        padding: 0.35rem;
        border: none;
        cursor: pointer;
        border-radius: 0.25rem;
        /* background-color: #DDD; */

        transition: 0.1s;

        &:hover{
            font-weight: 800;
        }
    }

    .confirm{
        color: white;
        background-color: dodgerblue;
    }
}

.stats{

    .temperature-chart{
        height: 40vh;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    
        p {
            font-size: 1.5rem;
            margin: 10px 0;
        }
    
        #temperature, #humidity {
            font-weight: bold;
            color: #333;
        }
    }
}