<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de ESP Conectados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Listado de ESP Conectados</h1>
    <ul id="espList">
        <!-- Aquí se cargará el listado de ESP -->
    </ul>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
